@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap");

h1 {
  font-family: "Roboto Slab";
  font-size: 3.5em;
  margin: 0 0.25em;
}

h2 {
  font-family: "Roboto Slab";
  font-size: 2em;
  margin: 0.25em 0;
}

body {
  font-family: "Lato";
  margin: 0;
  background-color: #f7f9fc;
  color: #192038
}

.hero {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
}

.hero-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-image: linear-gradient(to top, rgba(247, 249, 252, 1), rgba(179, 203, 186, 0.5));
}

.hero-text {
  text-align: center;
}

.section {
  margin: 1em 2em;
}

.card {
  background-color: white;
  border-radius: 10px;
}

.card-section {
  padding: 1em 2em;
}
